.jumboTitle {
	font-size: 32pt;
}

p {
	font-size: 13pt;
	color: black;
}

ul li {
	color: black;
	font-size: 13pt;
}

.mb-3 {
	height: 510px;
}

.footer {
	 margin-bottom: -20;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #1a1a1a;
   color: white;
   text-align: left;
	 height: 200px;
	 padding: 60px;
	 padding-left: 120px;
}

.footer p {
	color: white;
}
